<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Potok.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="AppVersion" value="58" />
    <add key="1servicestack:license" value="4287-e1JlZjo0Mjg3LE5hbWU6UG9ydCBUcmFueml0LFR5cGU6SW5kaWUsSGFzaDpieVhQQVVaTS8veU9YSkxsMFZXaTFPdkNLYVNzUmE1VS9MWEt6c1NwN1ZjaXZGOTZZSE5LU1o3cDU5TzZZeWhiSUp0aTBSR2xPcFd0VWNxL2JrUDBKTFZDSHM5anVxOXI4Q25PckFBYk5lOEZhcncyMFd1RzErZGlha1pnRmhBN0tqMGtHc1BEV0NEbXdwZjRPWXp4ZlhtRU51aW8vdkUzc09IWmwrME5abTg9LEV4cGlyeToyMDE3LTExLTAzfQ==" />
    <add key="UpdateServer" value="https://github.com/viktand/Potok/" />
    <add key="PhotoServer" value="http://85.175.152.118:1526/" />
    <add key="Focus_kontur_api_key" value="607d55b1d4779a7f096ccb2c64a9ee39a0f32e7b" />
    <add key="LegalForms" value="1,ИП,Индивидуальные предприниматели;2,ООО,Общество с ограниченной ответственностью;3,ПАО,Публичные акционерные общества;" />
    <add key="ContactTypes" value="1,Основной контакт;2,Водитель;3,Уборка мусора;4,Менеджер;5,Не указано;" />
    <add key="DiadocEmail" value="diadoc@skbkontur.ru" />
    <add key="EmailCopy" value="mamaeva.a@potok-online.ru" />
    <!-- "s.shkolyar@potok-online.ru"/> -->
    <add key="EmailLogin" value="mamaeva.a@potok-online.ru" />
    <add key="EmailPassword" value="yfcntywbz90" />
  </appSettings>
  <connectionStrings>
    <add name="CrmPotok" connectionString="Server=192.168.2.104;Database=crm_potok_2;Uid=all;Pwd=1111;SslMode=None;" />
    <add name="NztModule" connectionString="Server=192.168.2.104;Database=nztmodule3;Uid=all;Pwd=1111;SslMode=None;" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.11.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.11.0" newVersion="6.9.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Potok.Properties.Settings>
      <setting name="CurrentUser" serializeAs="String">
        <value />
      </setting>
      <setting name="Printer" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="TxtPath" serializeAs="String">
        <value />
      </setting>
    </Potok.Properties.Settings>
  </userSettings>
</configuration>